.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.profile-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* 중앙 정렬 추가 */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 80px; /* Reduce the size of the profile picture */
  height: 80px; /* Match the width */
  background-color: #cccccc;
  border-radius: 50%;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-right: 10px;
  font-size: 18px;
  white-space: nowrap;
}

input {
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px; /* Make the border-radius more rounded */
  box-sizing: border-box;
}

.button {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  color: white;
  background-color: #FF5872; 
  border: none;
  border-radius: 8px; /* Adjust the border-radius */
  cursor: pointer;
}

.button:hover {
  background-color: #ff425e;
}



/* 반응형 디자인 */
@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .input-group label {
    font-size: 16px;
  }

  .input-group input {
    font-size: 14px;
    padding: 8px;
  }

  .submit-button {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .input-group label {
    font-size: 14px;
  }

  .input-group input {
    font-size: 12px;
    padding: 6px;
  }

  .submit-button {
    font-size: 14px;
    padding: 10px;
  }
}