.coupon-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
}

.header {
  width: 100%;
  flex-shrink: 0;
  height: 6.25vh; /* Set header height to 1/16 of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: 'Arial, sans-serif';
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal; /* Ensure the text is not bold */
}

.stamps {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.stamp {
  width: 60px;
  height: 60px;
}

.stamp.active {
  filter: none;
}

.stamp.inactive {
  filter: grayscale(100%);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stamp-button {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  color: white;
  background-color: #ff637f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 400px;
}

.stamp-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.coupon-button:enabled {
  background-color: #ff637f;
  cursor: pointer;
}

.coupon-button:disabled {
  background-color: #cccccc;
  color: white;
  border: none;
  cursor: not-allowed;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  max-width: 400px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .stamp {
    width: 50px;
    height: 50px;
  }

  .stamp-button,
  .coupon-button {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .description {
    font-size: 14px;
  }

  .stamp {
    width: 40px;
    height: 40px;
  }

  .stamp-button,
  .coupon-button {
    font-size: 14px;
    padding: 10px;
  }
}