.customer-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  z-index: 1000; /* z-index를 추가하여 다른 요소보다 위에 오도록 설정 */
}

.profile-icon, .couponlist-icon {
  width: 50px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 80px; /* 헤더와의 간격을 추가 */
}

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.welcome-text {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.highlight {
  font-weight: bold;
  cursor: pointer;
}

.logout-container {
  margin-top: 20px; /* 로그아웃 버튼과 환영 텍스트 간격 조정 */
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.logout-button {
  font-size: 14px;
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .customer-main-page {
    padding: 10px;
  }

  .header {
    padding: 10px;
  }

  .profile-icon, .couponlist-icon {
    width: 50px;
    cursor: pointer;
    pointer-events: auto; /* pointer-events를 추가 */
  }

  .avatar img {
    width: 120px;
    height: 120px;
  }

  .welcome-text {
    font-size: 18px;
  }

  .logout-button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .profile-icon, .couponlist-icon {
    width: 30px;
  }

  .avatar img {
    width: 100px;
    height: 100px;
  }

  .welcome-text {
    font-size: 16px;
  }

  .logout-button {
    font-size: 12px;
  }
}