.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  height: 6.25vh; /* Set header height to 1/16 of the viewport height */
  width: 100%; /* Ensure the header takes full width */
}

.back-arrow {
  position: absolute; /* Change to absolute positioning */
  left: 5px; /* Align to the left edge */
  top: 50%;
  transform: translateY(-90%);
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  cursor: pointer;
}

.title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto; /* Center title */
}