.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 0; /* Margin-bottom 값을 0으로 변경하여 간격을 줄임 */
  box-sizing: border-box;
}

button.search-button {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  color: white;
  background-color: #FF5872; 
  border: none;
  border-radius: 8px; /* Adjust the border-radius */
  cursor: pointer;
}

button.search-button:hover {
  background-color: #ff425e;
}


#map {
  width: 100%;
  height: 500px;
  margin-top: 0; /* Map 위쪽에 간격을 없앰 */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* 버튼 사이의 간격을 조정하기 위한 갭 */
  margin-top: 20px; /* 버튼 사이의 간격을 조정하기 위한 마진 */
}

button.confirm {
  background-color: #ff637f; /* Confirm 버튼 배경색 설정 */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.confirm:hover {
  background-color: #ff4a66;
}

button.cancel {
  background-color: #cccccc; /* Cancel 버튼 배경색 설정 */
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.cancel:hover {
  background-color: #b3b3b3;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  input[type="text"],
  button {
    font-size: 16px;
    padding: 8px;
  }

  #map {
    height: 400px;
  }
}

@media (max-width: 480px) {
  input[type="text"],
  button {
    font-size: 14px;
    padding: 6px;
  }

  #map {
    height: 300px;
  }
}