.ownerprofile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  overflow-y: visible;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%; /* 제목을 중앙에 정렬하기 위해 전체 너비를 차지하도록 설정 */
  text-align: center; /* 텍스트를 중앙 정렬 */
}

.profile-image {
  margin-bottom: 20px;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer; /* Change cursor to pointer */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  height: 80px;
  position: relative; /* relative 위치 설정 */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  height: 30px;
  line-height: 40px;
}

.form-group input,
.form-group select {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 10px; /* 더 둥글게 */
  border: 1px solid #ccc;
}

.store-name-group input,
.address-group input {
  background-color: #f0f0f0; /* 연한 회색 배경색 */
  padding-right: 40px; /* 아이콘과 겹치지 않도록 패딩 추가 */
}

.input-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.input-with-icon input {
  flex: 1;
  padding-right: 40px;
}

.glasses-icon {
  position: absolute;
  right: 10px;
  top: 50%; /* 입력란 중앙에 오도록 조정 */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.coupon-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 130px); /* 라벨 너비와 margin을 제외한 너비 */
  padding: 10px;
  box-sizing: border-box;
}

.coupon-selection img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
}

.submit-button {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #FF5872;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}

.submit-button:hover {
  background-color: #ff425e;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .profile-image img {
    width: 80px;
    height: 80px;
  }

  .form-group input,
  .form-group select,
  .submit-button {
    font-size: 14px;
    padding: 8px;
  }

  .coupon-selection img {
    width: 30px;
    height: 30px;
  }

  .submit-button {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .profile-image img {
    width: 60px;
    height: 60px;
  }

  .form-group input,
  .form-group select,
  .submit-button {
    font-size: 12px;
    padding: 6px;
  }

  .coupon-selection img {
    width: 20px;
    height: 20px;
  }

  .submit-button {
    padding: 10px;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.coupon-selection img.selected {
  border: 2px solid #FF5872; /* 선택된 쿠폰 모양에 테두리 추가 */
  border-radius: 5px;
}