.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.qr-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qr-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.back-icon {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  width: 90%;
  max-width: 400px;
  max-height: 90%; /* 최대 높이 설정 */
  overflow: hidden; /* 모달 내 스크롤 생성 제거 */
  box-sizing: border-box;
  z-index: 10000;
}

.stamp-button {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  color: white;
  background-color: #ff637f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 400px;
}

.coupon-button {
  background-color: #ff637f;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  max-width: 400px;
}

@media (max-width: 768px) {
  .qr-code-container {
      padding: 10px;
      padding-top: 80px;
      padding-bottom: 20px;
  }

  .modal {
      width: 90%;
      max-width: 350px;
  }
}

@media (max-width: 480px) {
  .qr-code-container {
      padding-top: 80px;
      padding-bottom: 20px;
  }

  .qr-header {
      height: 50px;
  }

  .modal {
      width: 90%;
      max-width: 300px;
  }
}