.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Top align */
  height: 100vh;
  text-align: center;
  padding: 20px;
  padding-top: 80px; /* 상단 여백 추가 */
  box-sizing: border-box;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

.text {
  padding: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 600px;
  box-sizing: border-box;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 120px;
  height: 120px;
  padding: 20px;
}

/* 반응형 디자인 */
@media (max-width: 600px) {

  .option {
    margin-bottom: 20px;
  }

  .icon {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .select-container {
    padding-top: 60px; /* 상단 여백 유지 */
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .option {
    margin-bottom: 15px;
  }
}