.signup-complete-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.success-image {
  max-width: 100%;
  height: auto;
}

.complete-message {
  margin: 20px 0;
  font-size: 1.5rem;
}

.redirect-link {
  margin-top: 20px;
  font-size: 1rem;
  color: #383838;
  text-decoration: underline;
  cursor: pointer;
}

.redirect-link:hover {
  color: #363636;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .complete-message {
      font-size: 1.25rem;
  }

  .redirect-link {
      font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .complete-message {
      font-size: 1rem;
  }

  .redirect-link {
      font-size: 0.75rem;
  }
}